---
layout: default
---

<article class="publication">

  <h1>{{ page.title }}</h1>

  {% if page.authors %}
    <p><strong>Authors:</strong> {{ page.authors }}</p>
  {% endif %}

  {% if page.venue %}
    <p><strong>Journal / Conference / Preprint:</strong> <em>{{ page.venue }}</em></p>
  {% endif %}

  {% if page.year %}
    <p><strong>Year:</strong> {{ page.year }}</p>
  {% endif %}

  {% if page.doi %}
    <p><strong>DOI:</strong> <a href="{{ page.doi }}">{{ page.doi }}</a></p>
  {% endif %}

  {% if page.abstract %}
    <h3>Abstract</h3>
    <p>{{ page.abstract }}</p>
  {% endif %}

  {% if page.bibtex %}
  <h3>BibTeX</h3>
  <pre><code>{{ page.bibtex | escape }}</code></pre>
  {% endif %}

</article>
